server:
  port: 8080

spring:
  application:
    name: 'p6e-coat-file'
  config:
    import: D://env/p6e-coat-file-application.yml
  servlet:
    multipart:
      max-request-size: 25MB
      max-file-size: 22MB


p6e:
  coat:
    file:
      cross-domain:
        enable: true
      uploads:
        test:
          type: 'DISK'
          path: D://env/d
      downloads:
        test:
          type: 'DISK'
          path: D://env/d
      resources:
        test:
          type: 'DISK'
          path: D://env/d
          suffixes:
            png: 'image/png'
            jpg: 'image/jpeg'
            mp4: 'video/mp4'
      slice-upload:
        path: D://env/su
